In [3]:
# Function to read csv data into a DataFrame
# returns the DataFrame Object

filepath='DataFiles/income.csv'
import pandas as pd
def readcsvdata(filepath):
    return pd.read_csv(filepath)
readcsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46554,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,1,2,3,4,5,6,7,8,9,10,11
6,1,2,3,4,5,6,7,8,9,10,11
7,1,2,3,4,5,6,7,8,9,10,11

In [9]:
#Average Income of all states from 2005 to 2013
incomedf=readcsvdata(filepath)
def stateavg(df,key):
    s=[]
    for row in df.values:
        if key in row:
            for item in row:
                s.append(item)
    total=sum(s[2:11])
    total2=total/len(s[2:11])
    return total2
stateavg(incomedf,'Alabama')

TypeError: 'int' object is not callable

In [ ]:
#Average Income of all states from 2005 to 2013
incomedf=readcsvdata(filepath)
def allavg(df):
    avg=[]
    for row in df.values:
        s=stateavg(df,row)
        avg.append(s)
    return avg
allavg(incomedf)

In [4]:
#State with highest average income in the last three years
incomedf=readcsvdata(filepath)
def highestAvgOfStateLast3Years(df):
    avgs = {}
    for i in df.values:
        s = 0
        for j in range(8,len(i)):
            s +=i[j]
        avgs[i[1]] = s//3
    #print(avgs)
    m = max(list(avgs.values()))
    #print(m)
    for item in avgs.items():
        if item[1]==m:
            print('State with highest average in last 3 years is:',item[0])
highestAvgOfStateLast3Years(incomedf)

State with highest average in last 3 years is: Alaska

In [10]:
# 3.State with lowest average income from 2007 to 2010(inclusive)
incomedf=readcsvdata(filepath)
def lowestAvgOfState2007to2010Years(df):
    avgs = {}
    for i in df.values:
        s = 0
        for j in range(4,8):
            s +=i[j]
        avgs[i[1]] = s//4
    #print(avgs)
    m = min(list(avgs.values()))
    #print(m)
    for item in avgs.items():
        if item[1]==m:
            print('State with highest average in last 3 years is:',item[1])
lowestAvgOfState2007to2010Years(incomedf)

State with highest average in last 3 years is: 6

In [8]:
# Print the list of all states in the same line with average income less than California
incomedf=readcsvdata(filepath)
def printListOfStatesAvgIsLessthanCalifornia(df):
    ds = {}
    for i in df.values:
        s = 0
        for j in range(2,len(i)):
            s += i[j]
        ds[i[1]] = s//9
    cal_avg = ds['California']
    print('States avg lessthan California is:')
    for item in ds.items():
        if item[1]<cal_avg:
            print(item[0])
        #print('Average of',i[1],':',s//9)
printListOfStatesAvgIsLessthanCalifornia(incomedf)

States avg lessthan California is:
Alabama
Arizona
Arkansas
2

In [11]:
#Print the names of states based on descending order of income in the year 2009

def statesBasedOnDescendingOrder(df):
    ds = {}
    for i in df.values:
        s = 0
        for j in range(6,7):
            s = i[j]
            #print(i[j])
        ds[i[1]] = s
    print('States in descending order based on income of 2009 year is:')
    ls = sorted(list(ds.values()),reverse=True)
    for i in range(0,len(ls)):
        for item in ds.items():
            if ls[i]== item[1]:
                print(item[0])
statesBasedOnDescendingOrder(incomedf)

States in descending order based on income of 2009 year is:
Alaska
California
Arizona
Alabama
Arkansas
2

In [12]:
#State with the lowest recorded income from 2005 to 2013
def stateWithLowestIncome(df):
    ds = {}
    for i in df.values:
        d = []
        for j in range(2,len(i)):
            d.append(i[j])
        ds[i[1]] = min(d)
    print('Lowest income state is')
    m = min(list(ds.values()))
    for item in ds.items():
        if m == item[1]:
            print(item[0])
    
    
stateWithLowestIncome(incomedf)

Lowest income state is
2