# Notebook Basics

**Bold**

*hello*

***Python***
* hello<br>
   * sublist1
   * sublist1
   
   
  1. Ordered list elements 1
  2. Orsered list elements 2
  
  
- [x] option1
- [x] option2
- [x] option3

.[1]: http://google.com/       "Google"

.[2]: http://yahoo.com/        "Yahoo"

 [jupyter](jupyter.png)
 
 ![jupyter](jupyter.png)
 
 
 <img src="jupyter.png" style="float:left">

# Python Basics

##  python version3.7
- Scripting
- Object Oriented
- Functional

In [7]:
# python comments

print("welcome to Apssdc..!", end="==>") # Basic Output
print('Hello Python')

welcome to Apssdc..!==>Hello Python

# Aassgnment

In [15]:
n1=123456 # single variable Assignment

n2 = n3 = n4 =n1 #Multi Variable assignment of the same

a,b,c = 123,456,789# Multivariable assignments with didfferent values

print(a,b,c)

123 456 789

# Operators
## Arthematic Operators
- +
- -
- *
- /
- **
- //

In [37]:
n1 + n2
n3=n1 *n2
type(n3)
len(str(n3))
atoms= 10**82
len(str(atoms))

83

# Conditionals

In [39]:
atoms<10 ** 45

False

# DataTypes

- int
- float
- string

In [43]:
type(a)
s1 = 'python'
type(s1)

f1 = 12.356
type(f1)
float(str(int(f1)))

'12'

# Conditionals

In [47]:
if atoms < 10 ** 9:
    print("True")
else:
    print('False')

False

# Check if a number is Even

In [1]:
n=123
if n%2==0:
    print('Even')
else:
    print('Odd')

Odd

In [1]:
# Find the greatest of 3 numbers

n1 =int(input('enter the value:'))
n2 =int(input('enter the value:'))
n3 =int(input('enter the value:'))
if n1 >n2 and n1>n3:
    print(n1,'is the greatest')
elif n2>n3:
    print(n2,'is the greatest')
else:
    print(n3,'is the greatest')

enter the value:897
enter the value:967
enter the value:567
967 is the greatest

In [3]:
# Check if a year is leap year

a =eval(input('enter the year:'))
if (a%4==0 and a%100!=0 or a%400==0):
    print(a,'is leap year')
else:
    print(a,'is not a leap year')

enter the year:2000
2000 is leap year

In [1]:
# check if a number exists in a given range(inclusiverange)
n1=eval(input('enter the range'))
lb=eval(input('enter the value'))
ub=eval(input('enter the value'))
if n1>=lb and n1<=ub:
    print('it is a range')
else:
    ('its not a range')

enter the range2
enter the value4
enter the value5

In [7]:
# calculate the no of digits in a number
a=100
print(len(str(a)))

3

In [10]:
# check if a number is a multiple of 10

a=int(input('enter the value:'))
if a%10==0:
    print('multiple of 10')
else:
    print('not a multiple number')

enter the value:10
multiple of 10

In [12]:
# check if a number is a factor of 1000

a=int(input('enter the value:'))
if a%1000==0:
    print('factor of 1000')
else:
    print('not a factor 1000')

enter the value:45
not a factor 1000

In [13]:
# check if given string is equal to a number
a=1234
b='python'
if str(a)==b:
    print('equal to',a)
else:
    print('notequal to',a)

notequal to 1234

In [14]:
# calculate the square root of a number wiyh out fiding
n1=123
n1 **0.5

11.090536506409418

In [19]:
# finding nano seconds
a =int(input('enter the year:'))
if (a%4==0 and a%100!=0 or a%400==0):
    print(366* 24 * 60*60*(10**9))
else:
    print(365* 24 * 60*60*(10**9))

enter the year:2050
31536000000000000