In [ ]:
[4,8]
[20,40.60]
[4,8,12,16]
[3.6.9.12]
# convert the list into an
# Arthematic progression

In [5]:
# [1,2,3] -> [1,2,3]

def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:    # oldlist = = newlist
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

# Function to identify differences of all 
#pairs of numbers and add those differences
#to the same list.
# It returns the updated list and original list

def differencePairs(li):
    cli = li[:]
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli, li]
li = [1,19,8,7,6,2,20]
differencePairs(li)

[[1, 19, 8, 7, 6, 2, 20],
 [1, 19, 8, 7, 6, 2, 20, 18, 5, 11, 12, 13, 17, 4, 14]]

# Set-Data Structure in python

* Represented by '{}'

In [18]:
a={1,2,3,4,5,1,2,3,4,5,5,6}
a.add(7)
#for i in a:
   # print(i,end=' ')
b={7,8,9,2,3,4,5,6}
li=[11,12,13,14,15]
#a.update(b) # single element
a.update(b,li) # Adding Multiple Elements
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15}

In [21]:
a.discard(10) # remove element
#a.remove(9)
a

{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 15}

In [24]:
a={1,2,3,4,5,10,1,2,3,4,5,5,6}
b={7,8,9,10}
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [27]:
a={1,2,3,4,5,10,1,2,3,4,5,5,6}
b={1,2,3,7,8,9,10}
c={1111,11112}
b.intersection(a)

{1, 2, 3, 10}

In [33]:
a={1,2,3,4}
b={1,2,3,7,8,9,10}
c={1111,11112}
a.isdisjoint(c)# common elelments

True

In [36]:
a={1,2,3,4}
b={1,2,3,7,8,9,10}
a-b # all elelments of a which are not in b

{4}

In [39]:
sorted(a)

[1, 2, 3, 4]

In [45]:
a={1,2,3,4,5,6,7,8,9}
b={1,2,3,19,20,217,8,9,10}
a^b # elements either  a or in b

{4, 5, 6, 7, 10, 19, 20, 217}

In [46]:
d=set() # creates an empty set
d

set()

In [47]:
li=[1,2,3,4,5,2,6,7,8,9]
a=set(li)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Functional Programming

## Procedural Oriented :Java
## Scripting : PHP,Python,JavaScript,Shell, pearl
## Functional: Python, haskell,scala
## Logic: Prolog,Lisp

# List Comphenisions

In [48]:
# N Natural Numbers in a list
n=10
li=[]
for i in range(0,n):
    li.append(i)
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
# List Comphenisions
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
# Apply list comphrehension to store the cubes on n natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [54]:
# Function to calculate the m factorial
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)
# Apply list comphrehension to calculate the factorial or n narural numbers
n=10
factoriallist=[factorial (i)for i in range(1,n+1)]
factoriallist

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [4]:
# calculate or store cumulative sum or numbers till n in a list
n=5
cumulativesum=[sum(range(1,i+1))for i in range(1,n+1)]
cumulativesum

[1, 3, 6, 10, 15]

In [11]:
# Function to store only leap years in time period
start=1970
end=2019
leap=[i for i in range(start,end+1) if i%4==0 or (i%100!=0 and i%400==0) ]
print(leap)

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [27]:
li=[1,2,3,4,2,1]
j=[]
k=[]
#unique=[i for i in li if li.count(i)==1]
[ k.append(i) for i in li if i not in k]
print(k)

[1, 2, 3, 4]

# Iterators
* Iterable -Strings Lists,Tuples,
* Convert iterable to Iterartor-> iter()
* For Loop : 
* Iterator

In [29]:
it=iter('python')
next(it)

'p'

# Generators

* Generator is function
*

In [7]:
def generator():
    n=2
    yield n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
a=generator()
# for i in range(5):
#     print(next(a))
next(a)
next(a)
next(a)
#next(a)

512